* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
  line-height: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

nav img {
  display: flex;
  align-items: center;
  width: 22px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav li {
  padding: 0 10px;
  font-size: 16px;
}

nav a:hover {
  cursor: pointer;
  color: #b1663c;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
.title-portfolio h2 {
  text-align: center;
  margin: 0 30px 0 100px;
}

.title-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-portfolio i {
  display: flex;
  gap: 5px;
}

.title-portfolio span {
  font-weight: normal;
  font-size: 14px;
  font-family: "Work Sans";
}

.divBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 51px 0 0 0;
}

.divBtn .btnAll {
  color: #fff;
  background-color: #1d6154;
}

.divBtn button {
  width: auto;
  height: 37px;
  border-radius: 60px;
  border: 1px solid #1d6154;
  padding: 9px 15px;
  color: #1d6154;
  background-color: #fffef8;
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
}

.divBtn button:hover {
  cursor: pointer;
  transition: background-color 0.8s ease;
  background-color: #86868687;
}

.gallery {
  margin-top: 51px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

footer li {
  font-size: 14px;
}

/* MODE EDITION */

.header-edit {
  height: 59px;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header-edit .btn-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 23px;
  color: #fff;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  position: absolute;
  width: 630px;
  height: 688px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#modal-content .fa-xmark {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 24px;
}

#modal-content h3 {
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  margin: 60px 0 45px 0;
}

#modal-content .gallery-modal {
  overflow-y: auto;
  width: 80%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 150px;
  grid-column-gap: 5px;
  grid-row-gap: 20px;
}

#modal-content hr {
  width: 80%;
  margin: 65px 0 38px 0;
  border: solid 1px #b3b3b3;
}

#modal-content button {
  width: 237px;
  height: 36px;
  border-radius: 60px;
  border: none;
  background-color: #1d6154;
  color: white;
  font-family: "Syne";
  font-size: 14px;
  margin-bottom: 40px;
}

#modal-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#modal-content figure {
  position: relative;
}

#modal-content .fa-trash-can {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  border: solid #000 5px;
  border-radius: 4px;
  color: white;
  background-color: #000;
}

#modal-content .fa-trash-can:hover,
#modal-content button:hover {
  cursor: pointer;
}
